
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 130.1rem;
}.design-pallete-7dN {
  box-sizing: border-box;
  padding: 4.3rem 5.5rem 4.3rem 4.3rem;
  width: 100%;
  height: 94.7rem;
  background-color: #fdfdfd;
  border-radius: 2rem;

  .group-27-S9r {
    border-radius: 2rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
    width: 100%;
    height: 78.1rem;
    display: flex;
    align-items: flex-start;

    .auto-group-f78t-ZVN {
      flex-shrink: 0;
      align-items: center;
      display: flex;
      flex-direction: column;

      .light-mode-WQc {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 3rem 1.4rem;
        font-size: 3rem;
      }
      .accent-R1n {
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 3.8rem 1.6rem 0rem;
        text-align: center;
        font-size: 2rem;
      }
      .auto-group-e7nf-j2U {
        width: 14.2rem;
        background-color: #c07ac2;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 3.7rem 6.3rem 0rem;

        .rectangle-54-rsn {
          width: 100%;
          height: 11.9rem;
          background-color: #257441;
          border-radius: 2rem;
        }
      }
      .dark-mode-Bv4 {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.7rem 0.8rem;
        font-size: 3rem;
      }
      .accent-Jzg {
        text-align: center;
        font-weight: 400;
        margin: 0rem 3.8rem 1.6rem 0rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-dfts-Dbr {
        background-color: #c07ac2;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 3.7rem;
        width: 14.2rem;

        .rectangle-59-AGC {
          border-radius: 2rem;
          width: 100%;
          height: 11.9rem;
          background-color: #8bdaa7;
        }
      }
    }
    .auto-group-yxhv-hX2 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 7.1rem 3.7rem 0rem 0rem;
      width: 14.2rem;
      align-items: center;
      display: flex;

      .secondary-2JQ {
        margin: 0rem 0.1rem 1.2rem 0rem;
        text-align: center;
        font-weight: 400;
        color: #000000;
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-52-LZz {
        height: 11.9rem;
        background-color: #113629;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 12.1rem;
        width: 100%;
      }
      .secondary-gNx {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.2rem 0rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .rectangle-57-az8 {
        width: 100%;
        height: 11.9rem;
        background-color: #c9eee1;
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
    .auto-group-u3pj-Kwi {
      margin: 7.1rem 3.7rem 0rem 0rem;
      width: 14.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .primary-rwe {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        margin: 0rem 0.1rem 1.2rem 0rem;
        line-height: 1.2125;
        flex-shrink: 0;
      }
      .rectangle-51-zY4 {
        height: 11.9rem;
        background-color: #446a52;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 12.1rem;
        width: 100%;
      }
      .primary-wCQ {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.2rem 0rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
      }
      .rectangle-56-rqA {
        width: 100%;
        height: 11.9rem;
        background-color: #95bba3;
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
    .auto-group-nz2p-oEc {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 7.1rem 2.5rem 0rem 0rem;
      width: 14.2rem;

      .background-XwJ {
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.2rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-49-T4G {
        box-sizing: border-box;
        background-color: #adbc9f;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 12.1rem;
        width: 100%;
        height: 11.9rem;
        border: solid 0.1rem #adbc9f;
      }
      .background-n6Y {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.2rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .rectangle-55-Jag {
        width: 100%;
        height: 11.9rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #516043;
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
    .auto-group-hp6j-cLU {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 7rem 9.8rem 0rem 0rem;
      width: 14.2rem;
      align-items: center;

      .text-LGU {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.3rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-50-rkc {
        margin-bottom: 12rem;
        width: 100%;
        height: 11.9rem;
        background-color: #fbfada;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .text-C3n {
        margin: 0rem 0.1rem 1.3rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-60-iXv {
        background-color: #252404;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 100%;
        height: 11.9rem;
        border: solid 0.1rem #252404;
        box-sizing: border-box;
      }
    }
    .auto-group-pvqf-ewN {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 1.1rem;

      .css-code-p5A {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 5.4rem 1.2rem;
        font-size: 3rem;
        font-weight: 700;
      }
      .rootdata-themelight-text-fbfada-background-adbc9f-primary-446a52-secondary-113629-accent-257441-rootdata-themedark-text-252404-background-516043-primary-95bba3-secondary-c9eee1-accent-8bdaa7--L3W {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 25.4rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
}
