
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-axL {
  align-items: center;
  display: flex;
  background-color: #adbc9f;
  padding-top: 7.5rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;

  .auto-group-ujjw-BhE {
    height: 13.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.1rem 6.3rem 7.3rem;
    width: calc(100% - 9.4rem);

    .do-you-have-a-prob-con-SFn {
      height: 100%;
      background-color: #113629;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-right: 4.3rem;
      box-sizing: border-box;
      padding: 2.5rem 1.3rem 3.2rem 1.7rem;
      width: 39.8rem;

      .do-you-have-the-problem-of-very-long-urls-wCY {
        color: #fbfada;
        font-family: Inter, 'Source Sans Pro';
        max-width: 36.8rem;
        font-size: 3.1rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .main-url-mhN {
      width: 90.5rem;
      height: 6.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.9rem;
    }
  }
  .auto-group-9ctr-tmz {
    height: 13.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 4rem 2rem 9.8rem;
    width: calc(100% - 13.8rem);

    .shortned-url-CGt {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 26.3rem 0.1rem 0rem;
      width: 64.1rem;
      height: 6.8rem;
      object-fit: cover;
    }
    .here-is-a-sim-con-K6c {
      height: 100%;
      background-color: #113629;
      border-radius: 2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.4rem 1.5rem 3.3rem 2.3rem;
      width: 39.8rem;

      .here-is-a-simple-solution-to-for-it-cLc {
        max-width: 36rem;
        font-size: 3.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #fbfada;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .presenting-con-t3E {
    flex-shrink: 0;
    margin: 0rem 4.018rem 2rem 7.3rem;
    box-sizing: border-box;
    padding: 2.2rem 6.379rem 2.3rem 6.379rem;
    width: calc(100% - 11.3184rem);
    background-color: #113629;
    border-radius: 2rem;

    .presenting-url-shortner-made-using-python-AmS {
      font-weight: 400;
      line-height: 1.2125;
      color: #fbfada;
      font-family: Inter, 'Source Sans Pro';
      max-width: 42.8rem;
      font-size: 3.6rem;
    }
  }
  .auto-group-rigf-FXz {
    margin-right: 0.2628rem;
    box-sizing: border-box;
    padding: 3.4rem 45.845rem 5.624rem 45.6rem;
    width: 143.7372rem;
    height: 44.9958rem;
    background-color: #446a52;
    flex-shrink: 0;

    .input-form-97a {
      padding: 7.2rem 9.592rem 8.172rem 9.6rem;
      align-items: center;
      flex-direction: column;
      background-color: #113629;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: 2rem;

      .original-url-input-field-doS {
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 2rem;
        box-sizing: border-box;
        width: 100%;
        height: 7.7rem;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 5.2rem;
        padding-left: 4.6rem;

        .original-url-xap {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.6rem 0.2rem 0rem;
        }
        .auto-group-gbkt-fVE {
          border-radius: 0 2rem 2rem 0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.3rem 1.544rem 2.911rem 1.6rem;
          height: 100%;
          background-color: #257441;

          .shorten-symbol-CVA {
            width: 3.1556rem;
            height: 2.4889rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .shortened-url-input-field-gv8 {
        padding-left: 4.6rem;
        width: 100%;
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 2rem;
        box-sizing: border-box;
        height: 7.7rem;
        display: flex;
        flex-shrink: 0;

        .shortned-url-2UC {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.3rem 0.2rem 0rem;
          font-size: 3rem;
        }
        .auto-group-jfvr-wr4 {
          background-color: #257441;
          border-radius: 0 2rem 2rem 0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.9rem 1.9rem 2.6rem 1.6rem;
          height: 100%;

          .copy-symbol-U5J {
            object-fit: contain;
            vertical-align: top;
            width: 2.8rem;
            height: 3.2rem;
          }
        }
      }
    }
  }
}
